.pagination {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.pagination .pageButton,
.pagination .pageNumber {
  padding: 5px 10px;
  border: 1px solid var(--pagination-border-color);
  background-color: var(--pagination-background-color);
  color: var(--pagination-text-color);
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.pagination .pageButton:hover:not(.inactive):not(:disabled),
.pagination .pageNumber:hover:not(.inactive):not(:disabled) {
  background-color: var(--pagination-hover-background-color);
  color: var(--pagination-hover-text-color);
}

.pagination .inactive,
.pagination .pageButton:disabled,
.pagination .pageNumber:disabled {
  background-color: var(--pagination-disabled-background-color);
  color: var(--pagination-disabled-text-color);
  cursor: not-allowed;
}

.pagination .ellipsis {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: default;
  color: var(--pagination-text-color);
}
