.card {
  position: relative;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContent {
  flex: 1;
  padding-right: 10px;
}

.card img {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

.card h3 {
  margin: 0 0 10px 0;
}

.card p {
  margin: 0;
}

.favoriteIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.favoriteIcon:hover .unfilledStar,
.favoriteIcon:hover .filledStar {
  color: darkgray;
}

.unfilledStar {
  color: gray;
}

.filledStar {
  color: rgba(73, 77, 100, 0.84);
}
