.card {
  position: relative;
  padding: 10px;
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.active {
  background-color: var(--active-card-background-color);
}

.cardContent {
  flex: 1;
  padding-right: 10px;
}

.card img {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

.card h3 {
  margin: 0 0 10px 0;
}

.card p {
  margin: 0;
}

button.favoriteIcon {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
}

button.favoriteIcon:focus {
  outline: none;
}

.favoriteIcon:hover .unfilledStar,
.favoriteIcon:hover .filledStar {
  color: var(--favorite-icon-hover-color);
}

.unfilledStar {
  color: var(--unfilled-star-color);
}

.filledStar {
  color: var(--filled-star-color);
}
