#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1800px;
  margin: auto;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
}

.search-section {
  padding: 10px 20px;
  background-color: var(--search-background-color);
  border-bottom: 1px solid var(--button-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.content-section {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  overflow: hidden;
}

.results-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.results-section {
  flex: 2;
  padding-right: 10px;
  border-right: 1px solid var(--button-background-color);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.results-section.no-results {
  border-right: none;
}

.details-section {
  flex: 1;
  padding: 5px 15px 20px;
  overflow-y: auto;
  position: relative;
  height: calc(100% - 25px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.item-details {
  text-align: left;
}

.item-details h2 {
  margin-bottom: 10px;
}

.item-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.item-details p {
  margin: 5px 0;
}

.item-details .trailer {
  margin-top: 20px;
}

.search {
  display: flex;
  gap: 10px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-item {
  padding: 10px;
  border: 1px solid var(--button-background-color);
  border-radius: 4px;
  cursor: pointer;
}

.loader {
  font-size: 1.5rem;
}
